.tarball-version
.version
.*.swp
ABOUT-NLS
build-aux
intltool-extract.in
intltool-merge.in
intltool-update.in
*~
*.tar.gz
.deps
.libs
*.la
*.lo
*.o
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
install-sh
libltdl
libtool
ltmain.sh
missing
mkinstalldirs
stamp-*
.dirstamp
