[Unit]
Description=PipeWire Multimedia System Sockets
ConditionUser=!root

[Socket]
Priority=6
ListenStream=%t/pipewire-0
ListenStream=%t/pipewire-0-manager

[Install]
WantedBy=sockets.target
